<!DOCTYPE html>
<html lang="en">
<head>
    
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('dark-mode-toggle').addEventListener('click', function() {
            document.body.classList.toggle('dark-mode');
            document.querySelector('main').classList.toggle('dark-mode');
            document.querySelectorAll('.menu-item').forEach(item => item.classList.toggle('dark-mode'));
            document.querySelectorAll('table').forEach(table => table.classList.toggle('dark-mode'));
            document.querySelectorAll('.flash').forEach(flash => flash.classList.toggle('dark-mode'));
            document.querySelector('footer').classList.toggle('dark-mode');
        });
    });
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <header>
        <h1>Admin Login</h1>
        <nav>
            <a href="{{ url_for('index') }}">Página inicial</a>
            <a href="{{ url_for('reserve') }}">Reservar mesa</a>
            <a href="{{ url_for('register') }}">Registar</a>
        </nav>
    </header>
    
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <form method="POST" action="{{ url_for('login') }}">
            <label for="username">Utilizador:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">Login</button>
        </form>
    </main>
</body>
</html>